html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box;
}



@font-face {
    font-family: 'suisse_bp_intl';
    src: url('suisse_bp_intl_regular.woff2') format('woff2'),
         url('suisse_bp_intl_regular') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  background-color: transparent;
  color: black;
}

img {

}


body {
  width: auto;
  background: white;
  color: black;
  font-family: 'suisse_bp_intl', helvetica, arial, sans-serif;
  font-style:normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.0125rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.0125rem;
  font-weight: normal;
  margin: 0px;
  box-sizing: border-box;


}

#info {
  position: relative;
  z-index: 2;
  margin: 50px;
  max-width: 600px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.0125rem;
}

#head {
  position: relative;
  z-index: 2;
  margin: 50px;
  max-width: 600px;

    font-size: 18px;

    line-height: 24px;
    letter-spacing: -0.0125rem;
}

#head2 {
  position: relative;
  z-index: 2;
  margin: 50px;
  max-width: 200px;

    font-size: 18px;

    line-height: 24px;
    letter-spacing: -0.0125rem;
}

#info2 {
  position: relative;
  z-index: 2;
  margin: 50px;
  max-width: 500px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.0125rem;

}

#box {
  position: relative;
  margin: 0px auto;
  top:0px;
  max-width: 40%;
}

#box2 {
  position: relative;
  margin: 0px auto;
  top:-100px;
  max-width: 50%;
}

#fitbox {
  background: green;
  position: relative;
  left:900px;
  top:80px;
  max-width: 800px;
  max-height: 1000px;

}

#images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#toggle {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: 40px;
  background: black;
  z-index: 10000;
  cursor: pointer;
}

.imgPage {
    width: 60%;
    padding: 2.5vw;
    display: block;
    margin: 0 auto;
}

.vidPage {
    width: 60%;
    padding: 2.5vw;
    display: block;
    margin: 0 auto;
}
